<script src="/loading.js"></script>
</main>
<footer>
    <div class="bg-indigo-600 b-4" >
        <div class="sm:flex sm:items-center sm:justify-between">
            <a class="flex items-center m-8">
                <img src="/leadSalesLogo.png" class="h-8 mr-3" alt="leadsalesLogo" />
            </a>
            <ul class="flex flex-wrap items-center text-white">
                <li>
                    <a href="#" class="mr-4 hover:underline">Ayuda</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline">Leadsales</a>
                </li>
                <li>
                    <a href="#" class="mr-4 hover:underline"></a>
                </li>
                <li>
                    <a href="#" class="hover:underline"></a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-slate-200 text-center">Developed by: TecDevs</span>
    </div>
</footer>
</body>
</html>