<%- include('../includes/head.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-2xl font-bold mb-6">Gráficas Dinámicas</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4">Gráfica de Barras</h2>
                <canvas id="barChart"></canvas>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4">Gráfica de Pastel</h2>
                <canvas id="pieChart"></canvas>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4">Gráfica de Barras Horizontal</h2>
                <canvas id="horizontalBarChart"></canvas>
            </div>

            <div class="bg-white p-6 rounded-lg shadow-md">
                <h2 class="text-xl font-semibold mb-4">Grafica de Linea</h2>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
</main>

 
<script>
    fetch('/data')
        .then(response => response.json())
        .then(data => {
            // Filtrar los datos para excluir registros con createdAt nulo
            const filteredData = data.filter(lead => lead.createdAt !== null);

            const ctx = document.getElementById('barChart').getContext('2d');
            const labels = filteredData.map(lead => new Date(lead.createdAt).toLocaleDateString()); // Convertir la fecha a un formato legible
            const values = filteredData.map(lead => lead.idLead);

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Leads por Fecha',
                        data: values,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        })
        .catch(error => {
            console.error('Error al cargar los datos de los leads:', error);
        });
</script>



<%- include('../includes/foot.ejs') %>
