<%- include('../includes/head.ejs') %>

<div class="h-screen font-sans text-gray-900 bg-gray-300 border-box">
    <div class="flex justify-center w-full mx-auto sm:max-w-lg">
        <div class="flex flex-col items-center justify-center w-full h-auto my-20 bg-white sm:w-3/4 sm:rounded-lg sm:shadow-xl">
            <div class="mt-10 mb-10 text-center">
                <h2 class="text-2xl font-semibold mb-2">Carga tu archivo</h2>
                <p class="text-xs text-gray-500">Solo se acepta formato .csv</p>
            </div>
            <form action="/leads/test" method="POST"  enctype="multipart/form-data"  >
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                
                <input type="text" name="prueba_input">
                <input type="submit" name="submit" class="bg-blue-500 text-white rounded-md px-2 py-1" value="Subir">
            </form>
        </div>
    </div>
</div>

<%- include('../includes/foot.ejs') %>