<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>LeadCharts</title>
</head>
<body>
    <header>
        <nav class="bg-slate-200 border-gray-100 border-b-4">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a> </a>
                <div class="text-center my-10 ml-8 text-bold text-4xl text-indigo-600">
                    <a>SignUp</a>
                </div>
                <a href="/users/login" class="font-sans my-10 text-bold text-xl text-indigo-600">Login</a>
            </div>
        </nav>
    </header>
    <main>
    <section class="gradient-form h-full bg-neutral-200 flex flex-col">
            <div class="flex-grow g-6 flex h-full flex-wrap items-stretch justify-center text-slate-950 font-sans">
                <div class="w-full">
                    <div class="block rounded-lg bg-slate-200 shadow-lg">
                        <div class="g-0 lg:flex lg:flex-wrap">
                        <!-- Left column container-->
                            <div class="px-4 md:px-0 lg:w-6/12">
                                <div class="md:mx-6 md:p-12">
                                <!--Logo-->
                                    <div class="text-center">
                                        <img class="mx-auto w-48" src="/leadChartsLogo.png" alt="logo" />
                                        <h4 class="mb-12 mt-1 pb-1 text-xl font-semibold">
                                            Mide analiza mejora
                                        </h4>
                                    </div>
                                    <form action="/users/signUp" method="POST">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                                        <div class="relative z-0 w-full mb-6 group">
                                            <input type="text" name="nameUser" id="nameUser" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "/>
                                            <label for="nameUser" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
                                        </div>
                                        <div class="relative z-0 w-full mb-6 group">
                                            <input type="text" name="lastNameUser" id="lastNameUser" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "/>
                                            <label for="lastNameUser" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Apellido</label>
                                        </div>
                                        <div class="relative z-0 w-full mb-6 group">
                                            <input type="email" name="emailUser" id="emailUser" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" ">
                                            <label for="emailUser" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                                        </div>
                                        <div class="relative z-0 w-full mb-6 group">
                                            <input type="password" name="passwordUser" id="passwordUser" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "/>
                                            <label for="passwordUser" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                                        </div>
                                        <button id="submit" name="submit" value="submit" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                                    </form>
                                </div>
                            </div>

                    <!-- Right column container with background and description-->
                            <div class="flex items-center lg:w-6/12" style="background: linear-gradient(to right, #3f3dc2, #3b82f6, #c084fc, #4c4bdc)">
                                <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                                    <h4 class="mb-6 text-xl font-semibold">
                                        Unete para medir y analizar tus leads
                                    </h4>
                                    <p class="text-sm">
                                        Puedes analizar tus leads, generar graficas, seleccionar metricas y mucho más.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<%- include('../includes/foot.ejs') %>
